body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: #f2eada;
    color: #2c241f;
}

.container {
    margin-top: 10px;
}

h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}

hr {
    border: 2px solid #2c241f; 
    margin-bottom: 30px;
}

.card {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: #fff; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.card-content {
    padding: 20px;
}

.card-title {
    font-size: 24px;
    font-weight: bold;
    color: #2c241f;
}

.card-content p {
    margin-bottom: 10px;
}

nav {
    background-color: #dedede; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    padding: 10px 0;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #2c241f; 
    font-weight: bold;
    font-size: 16px;
}

nav a:hover {
    color: #e1c48e; 
}

.page-footer {
    background-color: #dedede; 
    text-align: right;
    padding: 15px;
    color: #2c241f; 
}

.brand-logo {
    font-size: 24px;
    font-weight: bold;
    color: #2c241f; 
  }

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main h1,
main p {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 20px;
}
