/* Reset default margins and paddings */
body,
html {
  margin: 0;
  padding: 0;
}

/* Apply a classical font for a scholarly look */
body {
  font-family: 'Times New Roman', Times, serif;
  background-color: #f2eada; /* Light beige background */
  color: #2c241f; /* Dark brown text */
}

/* Container styling */
.container {
  margin-top: 20px;
}

/* Styling for main heading */
h1 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
}

/* Horizontal line style */
hr {
  border: 2px solid #2c241f; /* Dark brown */
  margin-bottom: 30px;
}

/* Card styling */
.card {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
  background-color: #fff; /* White background */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.card-content {
  padding: 20px;
}

.card-title {
  font-size: 24px;
  font-weight: bold;
  color: #2c241f; /* Dark brown */
}

.card-content p {
  margin-bottom: 10px;
}

/* Navbar styling */
nav {
  background-color: #dedede; /* Light gray background */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  padding: 10px 0;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #2c241f; /* Dark brown */
  font-weight: bold;
}

nav a:hover {
  color: #e1c48e; /* Light brown on hover */
}

/* Page footer styling */
.page-footer {
  background-color: #dedede; /* Light gray background */
  text-align: right;
  padding: 15px;
  color: #2c241f; /* Dark brown */
}

/* Brand logo styling */
.brand-logo {
  font-size: 24px;
  font-weight: bold;
  color: #2c241f; /* Dark brown */
}

/* Title and content on the same line */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main h1,
main p {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 20px;
}
